<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Link to Database -->
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">system</property>
        <property name="connection.password">nitish</property>
        <property name="format_sql">true</property>

        <!-- Sql Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

        <!-- Other Setting -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>

<!--         Mapping for Table Name -->
        <mapping class="org.example.Student"/>

        <mapping class="org.example.Annotation" />

        <mapping class="org.example.InsertValue" />

<!--        <mapping class="org.mapOneToOne.Question" />-->
<!--        <mapping class="org.mapOneToOne.Answer" />-->

        <mapping class="org.mapOneToMany.Question" />
        <mapping class="org.mapOneToMany.Answer" />

    </session-factory>
</hibernate-configuration>
